<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebSocketURL</key>
	<string>https://rtf.beta.getbux.com/subscriptions/me</string>
	<key>BaseURL</key>
	<string>https://api.beta.getbux.com/</string>
	<key>AuthorizationToken</key>
	<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJyZWZyZXNoYWJsZSI6dHJ1ZSwic3ViIjoiYmIwY2RhMmItYTEwZS00ZWQzLWFkNWEtMGY4MmI0YzE1MmM0IiwiYXVkIjoiYmV0YS5nZXRidXguY29tIiwic2NwIjpbImFwcDpsb2dpbiIsInJ0Zjpsb2dpbiJdLCJleHAiOjE1MzcwMjM2NzUsImlhdCI6MTUwNTQ4NzY3NSwianRpIjoiNzk4MDU3ODAtZTIwMi00OWFkLTg5ZjktOTkwMTA0MjE4MzIzIiwiY2lkIjoiODQ3MzYyMjkzNCJ9.nxFQ4swjirAQx8B3Q65-dkblaCQCFa52DD4IhKS1VAg</string>
</dict>
</plist>
